{% extends 'Marketplace/detailsPage.html' %}
{% block body %}
    {% if item %}
         <div class = "container">
            <a href = "{% url 'Marketplace:profile' item.profile.id %}">
                <h1><span>{{ item.profile.FirstName }}</span> &nbsp <span>{{ item.profile.LastName }}</span></h1>
            </a>
             <h2>{{ item.item_name }}</h2>
            <img src="{{ item.thumbnail.url }}" class = "detailThumbnail">
            {% if item.is_secondHand %}
                <p>Condition: Secondhand</p>
            {% else %}
                <p>Condition: Brand-New</p>
            {% endif %}

            {% if item.profile.is_Student %}
                <p>Use: Academic</p>
            {% else %}
                <p>Use: Office</p>
            {% endif %}

            {% if item.tag %}
                <p>Tags: </p>
                <ul>
                {% for Tag in item.tag.all %}
                    <li>
                        {{ Tag.text }}
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
         </div>
    {% endif %}
{% endblock %}
