{% extends 'Marketplace/base.html' %}
{% block body %}
    <div class = "posts-container container">
       <div class = "row table-row">

           {% if all_items %}
            {% for item in all_items reversed%}

                <div class = "col-sm-3 ">

                    <div class = "thumbnail ">
                        <div class = "caption">
                            <h2>{{ item.item_name }}</h2>
                            <h4>{{ item.created_at }}</h4>
                        </div>
                        {% if item.thumbnail %}
                            <a href = "">
                                <img src = "{{ item.thumbnail.url }}" class = "img-responsive">
                            </a>
                        {% endif %}

                    </div>
                </div>

            {% endfor %}

           {% endif %}

       </div>

    </div>
{% endblock %}
